footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    p.footer__copyright &copy; by Jonas Schmedtmann. All rights reserved. For your own purposes, except producing of course, your own courses or tutorials.